header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  height: 80px;
  background-color: rgb(247, 249, 252);
  color: rgb(103, 107, 124);

  .arrow-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f9fc;
    padding: 6px 3px;
    border: 1.5px solid rgb(226, 229, 233);
    border-radius: 5px;
    .icon-zuojiantou{
      
    }
  }
  .arrow-button:hover{
    background-color: #e2e5e9;
  }
  .search-bar{
    display: inline-flex;
    align-items: center;
    background-color: #f7f9fc;
    border: 1.5px solid rgb(226, 229, 233);
    border-radius: 5px;
    padding: 4px 10px;
    margin: 5px;

    .search-icon{
      color: #b6bac2;
      margin-right: 4px;
    }
    .search-input{
      border: none;
      outline: none;
      color: #b6bac2;
      background: transparent;
    }
  }

  .maikefeng-button{
    display: inline-flex;
    align-items: center;
    background-color: #f7f9fc;
    padding: 6px 3px;
    border: 1.5px solid rgb(226, 229, 233);
    border-radius: 5px;
    .icon-maikefeng{
      color: #b6bac2;
    }
  }

  .profile-container{
    display: inline-flex;
    align-items: center;
    
    .profile-ava img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin: 5px;
    }
    
  }

}