main{
  flex: 1;
  display: flex;
  background-color: #f8f9fc;
  padding: 0px 30px;
  
  .carousel{
    width: 385px;
    margin: 10px;
  }
  .box{
    width: 385px;
    height: 160px;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影 */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    .box-nav{
      display: flex;
      justify-content: space-between;
      .box-nav-left{
        display: flex;
        align-items: flex-end; /* 让子元素底部对齐 */
        span{
          font-size: 12px;
          color: #9196a0;
        }
      }
      .box-nav-right button:not(:last-child) {
        margin-right: 10px;
      }
    }
    .container{
      display: flex;
      .imgContainer img{
        width: 80px;
        height: 80px;
        margin-right: 5px;
        margin-top: 10px;
        border-radius: 5px;
      }
    }
  }
  .arrow-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f9fc;
    padding: 6px 3px;
    border: 1.5px solid rgb(226, 229, 233);
    border-radius: 5px;
    .icon-zuojiantou{
      
    }
  }

}